/*
  Jared Chen & Aaron Schondorf
   mockup2.css
   3 Nov 2021
   */

   body{
     margin: 0px;
   }

   table {
       border-collapse: collapse;
       margin: auto;
   }

   th, td {
       border: 1px solid #ddd;
       padding: 15px;
   }


   .grid{
      display: grid;
      grid-template-rows: auto auto;
    }

    .content{
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: auto;
    }

    .menu{
      text-align: center;
      height: 50px;
      background-color: grey;
    }

    .menu-button{
      height: 50px;
      border-width: 0;
      background-color: grey;

    }

    .menu-button:hover{
      cursor: pointer;
      background-color: #D3D3D3;
    }

   .left-container{
     margin-left: 5%;
     margin-top: 16px;
   }

   .right-container{
     margin-right: 5%;
     margin-top: 16px;
     border-color: black;
   }

   .search{
     width: 75%;
   }

   .sort{
     display: none;
     margin-top: 16px;
     margin-left: 1%;
   }

   .add-column{
     position: absolute;
     margin-right: 1%;
     right: 1%;
     top: 67px;
   }
