<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- <meta charset="UTF-8"> -->
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="../static/mockup3.css" />
        <script language="JavaScript" type="text/javascript" src="../static/mockup3.js" ></script>
        <title>Find Songs Like</title>

    <body>
      <div class = "grid">
        <div class = "menu">
          <form>
            <!-- <button class = "menu-button" formaction="./index.html">Index</button> -->
            <button class = "menu-button" formaction="./">New Search</button>
            <button class = "menu-button" formaction="location.reload();">Find Songs Like</button>
            <button class = "menu-button" formaction="./help">Help</button>
          </form>
        </div>

        <div class = "content" id = "content">
          <div class = "left-container">

           <label>Song Search Bar</label> </br>
           <input type="text" class = "search" id = 'search_item' placeholder="Song name"/> </br></br>

           <label>Genre Search Bar</label> </br>
           <input type="text" class = "search" placeholder="Genre search"/> </br></br>

           <button onclick="find_songs_like();">Search</button>

          </form>
          </div>
        </div>
      <div>
        <p><table id="songs_table"></table></p>
      </div>

      </div>



    </body>
</html>
