<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- <meta charset="UTF-8"> -->
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="../static/mockup3.css" />
        <!-- <script type="text/javascript" src="{{ url_for('static', filename='books.js') }}" ></script> -->
        <title>Find Songs Like</title>

    <body>
      <div class = "grid">
        <div class = "menu">
          <form>
            <!-- <button class = "menu-button" formaction="./index.html">Index</button> -->
            <button class = "menu-button" formaction="./">New Search</button>
            <button class = "menu-button" formaction="./songs-like">Find Songs Like</button>
            <button class = "menu-button" formaction="./help">Help</button>
          </form>
        </div>

        <div class = "search-area">
          <form action="./mockup2.html">
            <label>Song Search Bar</label> </br>
            <input type="text" class = "search" placeholder="Song name"/> </br></br>

            <label>Genre Search Bar</label> </br>
            <input type="text" class = "search" placeholder="Genre search"/> </br></br>

            <label>Number of Results</label> </br>
            <input type="number" placeholder="0"/> </br></br>

            <input type="submit" value="Search"/>

          </form>
        </div>

      </div>



    </body>
</html>
