<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- <meta charset="UTF-8"> -->
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <!-- <link rel="stylesheet" type="text/css" href="../static/mockup1.css" /> -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
        <title>Help</title>

    <body>
       <!-- <h1>Search screen, mockup1.html </h1> -->
       <div class = "grid">

         <div class = "menu">
           <form>
             <!-- <button class = "menu-button" formaction="./index.html">Index</button> -->
             <button class = "menu-button" formaction="./">Song Search</button>
             <button class = "menu-button" formaction="./songs-like">Find Songs Like</button>
             <button class = "menu-current-page" formaction="./help">Help</button>
           </form>


         <p>
           This is some text to explain how to use the website incase someone doesn't know how to use the website.
         </p>

    </body>
</html>
