<!DOCTYPE html>
<html>
<head>
    <title>Spotify top 200 songs API reference</title>
</head>
<body>
    <pre>Spotify API: endpoint reference
All responses are in JSON

<!-- thank you patrick -->

REQUEST: /
RESPONSE:
    This is the home page where songs can be searched for.

REQUEST: /help
RESPONSE:
    This message


REQUEST: /results[?song={SONG}&artist={ARTIST}&genre={GENRE}&key={SORT_TAG}&order={SORT_ORDER}]
RESPONSE:
    A list of songs that fit all search criteria. If a criteria is missing, it is not
    used in the search query. By default, this list is sorted alphabetical by song name.
    if mutiple genres are present, the results list will icnlude any song that matches any genre.

REQUEST: /songs-like/{SEARCH_STRING}[?key={SORT_TAG}&order={SORT_ORDER}]
RESPONSE:
  A list of 20 songs that have the highest "likeness" score. This score is generated based on
  attributes like duration, tempo, instrimentation etc. The list is by default sorted by likeness
  score. The higher the score the more similar the song is to the search-song.
    </pre>
</body>
</html>
