<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}" />
        <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}" ></script>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
        <title>New Search</title>


    <body>
       <div class = "grid">
         <!-- Menu bar at the top of the screen -->
         <div class = "menu">
           <form>
             <button class = "menu-current-page" onclick="location.reload();">Song Search</button>
             <button class = "menu-button" formaction="./songs-like">Find Songs Like</button>
             <button class = "menu-button" formaction="./help-page">Help</button>
           </form>


         </div>
         <!-- the search options on the site -->
         <div class = "content" id = "content">
           <div class = "left-container">

            <label>Song Search Bar</label> </br>
            <input onkeyup="if(event.keyCode===13){submit.click()}"
            type="text" class = "search" id = "search_song" placeholder="Song name"/> </br></br>

            <label>Artist Search Bar</label> </br>
            <input onkeyup="if(event.keyCode===13){submit.click()}"
            type="text" class = "search" id = "search_artist" placeholder="Artist name"/> </br></br>

            <label>Genre Search Bar</label> </br>

            <select id="search_genre" onchange="add_genre();">
            </select>

            <button onclick="add_genre();" id = "sumbit_genre">Add Genre</button>

            <button onclick="clear_genre();" >Clear Genres</button> </br></br>

            <div id = "genre-block">
            </div></br>

            <button onclick="search_song();" id = "submit">Search</button>

           </div>

         </div>

         <div>
           <!-- The sort options for the results -->
           <div class = "sort" id = "sort-block">
             <form>
               <label>Sort by: </label>
               <select id="sort-tag" onchange="sort_results();">
                 <option value="name">Name</option>
                 <option value="artist">Artist</option>
                 <option value="highest_pos">Highest Ranking</option>
                 <option value="streams">Streams</option>
                 <option value="genres_list">Genre(s)</option>

               </select>

               <input type="checkbox" id= "order-check" onclick="sort_results();">
               <label>Flip Sort Order </label>

             </form>
           </div>
           <!-- results are displayed here -->
           <p><table id="songs-table"></table></p>
         </div>


        </div>


    </body>
</html>
