<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <!-- <script type="text/javascript" src="{{ url_for('static', filename='mockup3.js') }}" ></script> -->
        <link rel="stylesheet" type="text/css" href="../static/mockup1.css" />
        <script language="JavaScript" type="text/javascript" src="../static/mockup3.js" ></script>

        <title>Find Songs Like</title>

    <body>
      <div class = "grid">
        <div class = "menu">
          <form>
            <!-- <button class = "menu-button" formaction="./index.html">Index</button> -->
            <button class = "menu-button" formaction="./">Song Search</button>
            <button class = "menu-button" onclick="location.reload();">Find Songs Like</button>
            <button class = "menu-button" formaction="./help">Help</button>
          </form>
        </div>

        <div class = "content" id = "content">
          <div class = "left-container">

           <label>Song Search Bar</label> </br>
           <input onkeyup="if(event.keyCode===13){submit.click()}"
           type="text" class = "search" id = 'search_item' placeholder="Song name"/> </br></br>

           <label>Genre Search Bar</label> </br>
           <input onkeyup="if(event.keyCode===13){submit.click()}"
           type="text" class = "search" placeholder="Genre search"/> </br></br>

           <button onclick="find_songs_like();" id = "submit">Search</button>

          </form>
          </div>
        </div>


        <div>
          <div class = "sort" id = "sort-block">
            <form>
              <label>Sort by: </label>
              <!-- <input type="text" placeholder="Search"/> -->
              <select id="sort-tag" onchange="sort_results();">
                <option value="likeness">Likeness Score</option>
                <option value="name">Name</option>
                <option value="id">ID</option>
                <option value="artist">Artist</option>


              </select>

              <input type="checkbox" id= "order-check" onclick="sort_results();">
              <label>Flip Sort Order </label>

              <div class = "add-column">
                <label>Add Column: </label>
                <input type="text" placeholder="Column Name"/>
              </div>

            </form>
          </div>
          <p><table id="songs_table"></table></p>
        </div>

      </div>



    </body>
</html>
