<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- <meta charset="UTF-8"> -->
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="../static/mockup2.css" />
        <!-- <script type="text/javascript" src="{{ url_for('static', filename='books.js') }}" ></script> -->
        <title>Results</title>

    <body>
       <div class = "grid">
         <div class = "menu">
           <form>
             <!-- <button class = "menu-button" formaction="./index.html">Index</button> -->
             <button class = "menu-button" formaction="./index.html">New Search</button>
             <button class = "menu-button" formaction="./mockup3.html">Find Songs Like</button>
             <button class = "menu-button" formaction="./mockup4.html">Help</button>
           </form>
        </div>

        <div class = "sort">
          <form>
            <label>Sort by: </label>
            <input type="text" class = "search" placeholder="Search"/>

            <input type="checkbox" value="Acsending">
            <label>Acsending </label>

            <div class = "add-column">
              <label>Add Column: </label>
              <input type="text" class = "search" placeholder="Column Name"/>
            </div>

          </form>
        </div>

        <div class = "result">
          <div class = "result-cell"> Name of Song</div>
          <div class = "result-cell">Artist Name</div>
          <div class = "result-cell">Rank</div>
          <div class = "result-cell">Streams</div>

          <div class = "result-cell"> Running in the 90s</div>
          <div class = "result-cell">Patrick Liang</div>
          <div class = "result-cell">1</div>
          <div class = "result-cell">50</div>

          <div class = "result-cell"> happy</div>
          <div class = "result-cell">Feral Williams</div>
          <div class = "result-cell">2</div>
          <div class = "result-cell">50</div>

          <div class = "result-cell"> Wheres the love</div>
          <div class = "result-cell">Beattles</div>
          <div class = "result-cell">3</div>
          <div class = "result-cell">50</div>

        </div>



       </div>


    </body>
</html>
