<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}" />
        <script type="text/javascript" src="{{ url_for('static', filename='songs_like.js') }}" ></script>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />

        <title>Find Songs Like</title>

    <body>
      <div class = "grid">
        <div class = "menu">
          <form>
            <!-- Menu bar at the top of the screen -->
            <button class = "menu-button" formaction="./">Song Search</button>
            <button class = "menu-current-page" onclick="location.reload();">Find Songs Like</button>
            <button class = "menu-button" formaction="./help-page">Help</button>
          </form>
        </div>
        <!-- Contains elements to input search string -->
        <div class = "content" id = "content">
          <div class = "left-container">
           <label>Song Search Bar</label> </br>
           <input onkeyup="if(event.keyCode===13){submit.click()}"
           type="text" class = "search" id = 'search_item' placeholder="Song name"/> </br></br>
           <button onclick="find_songs_like();" id = "submit">Search</button>
          </form>
          </div>
        </div>

        <div>
          <!-- Contain elements used to sort results -->
          <div class = "sort" id = "sort-block">
            <form>
              <label>Sort by: </label>
              <select id="sort-tag" onchange="sort_results();">
                <option value="name">Name</option>
                  <option value="artist">Artist</option>
                <option value="likeness">Likeness Score</option>
                <option value="genres_list">Genre(s)</option>
              </select>

              <input type="checkbox" id= "order-check" onclick="sort_results();">
              <label>Flip Sort Order </label>

              <p style="text-align:center" id = 'search-song-name' ></p>

            </form>
          </div>
          <!-- results are displayed here -->
          <p><table id="songs-table"></table></p>
        </div>

      </div>



    </body>
</html>
